-- Migration 021: Standardize game_sessions Schema
-- Reconciles conflicting game_sessions table definitions across the codebase
-- Supports all game modes: 1v1, 2v2, FFA with flexible player management
-- Maintains backward compatibility with existing data
-- Created: 2025-01-15

-- This migration handles the schema conflicts between:
-- 1. Migration 007: host_user_id based schema (lobby style)
-- 2. Main schema.sql: player1_id/player2_id based schema (battle style)
-- 3. MatchmakingWorker: expects players JSONB column

-- Step 1: Add missing columns to support all use cases
-- Add players JSONB column for flexible multi-player support
ALTER TABLE game_sessions ADD COLUMN IF NOT EXISTS players JSONB DEFAULT '[]';

-- Add individual player columns for backward compatibility and direct queries
ALTER TABLE game_sessions ADD COLUMN IF NOT EXISTS player1_id UUID REFERENCES users(id) ON DELETE SET NULL;
ALTER TABLE game_sessions ADD COLUMN IF NOT EXISTS player2_id UUID REFERENCES users(id) ON DELETE SET NULL;
ALTER TABLE game_sessions ADD COLUMN IF NOT EXISTS player3_id UUID REFERENCES users(id) ON DELETE SET NULL;
ALTER TABLE game_sessions ADD COLUMN IF NOT EXISTS player4_id UUID REFERENCES users(id) ON DELETE SET NULL;

-- Add winner tracking for completed matches
ALTER TABLE game_sessions ADD COLUMN IF NOT EXISTS winner_id UUID REFERENCES users(id) ON DELETE SET NULL;

-- Add game timing fields
ALTER TABLE game_sessions ADD COLUMN IF NOT EXISTS started_at TIMESTAMP WITH TIME ZONE;
ALTER TABLE game_sessions ADD COLUMN IF NOT EXISTS ended_at TIMESTAMP WITH TIME ZONE;
ALTER TABLE game_sessions ADD COLUMN IF NOT EXISTS duration_seconds INTEGER;

-- Step 2: Expand game_mode enum to support matchmaking modes
-- Drop existing check constraint if it exists
DO $$
BEGIN
    IF EXISTS (
        SELECT 1 FROM information_schema.table_constraints
        WHERE constraint_name = 'game_sessions_game_mode_check'
        AND table_name = 'game_sessions'
    ) THEN
        ALTER TABLE game_sessions DROP CONSTRAINT game_sessions_game_mode_check;
    END IF;
END $$;

-- Add new comprehensive game_mode constraint
ALTER TABLE game_sessions ADD CONSTRAINT game_sessions_game_mode_check
CHECK (game_mode IN (
    'campaign', 'online', 'scenarios', 'tutorial',
    'standard', 'ranked', 'casual', 'tournament', 'ai',
    'ranked_1v1', 'casual_1v1', 'team_2v2', 'ffa_4p'
));

-- Step 3: Expand status enum to support all states
-- Drop existing status constraint
DO $$
BEGIN
    IF EXISTS (
        SELECT 1 FROM information_schema.table_constraints
        WHERE constraint_name = 'game_sessions_status_check'
        AND table_name = 'game_sessions'
    ) THEN
        ALTER TABLE game_sessions DROP CONSTRAINT game_sessions_status_check;
    END IF;
END $$;

-- Add comprehensive status constraint
ALTER TABLE game_sessions ADD CONSTRAINT game_sessions_status_check
CHECK (status IN (
    'waiting', 'playing', 'finished', 'cancelled',
    'active', 'completed', 'abandoned', 'error'
));

-- Step 4: Create indexes for performance
CREATE INDEX IF NOT EXISTS idx_game_sessions_matchmaking
ON game_sessions(game_mode, status, created_at)
WHERE status IN ('waiting', 'active');

CREATE INDEX IF NOT EXISTS idx_game_sessions_player1 ON game_sessions(player1_id) WHERE player1_id IS NOT NULL;
CREATE INDEX IF NOT EXISTS idx_game_sessions_player2 ON game_sessions(player2_id) WHERE player2_id IS NOT NULL;
CREATE INDEX IF NOT EXISTS idx_game_sessions_player3 ON game_sessions(player3_id) WHERE player3_id IS NOT NULL;
CREATE INDEX IF NOT EXISTS idx_game_sessions_player4 ON game_sessions(player4_id) WHERE player4_id IS NOT NULL;
CREATE INDEX IF NOT EXISTS idx_game_sessions_winner ON game_sessions(winner_id) WHERE winner_id IS NOT NULL;
CREATE INDEX IF NOT EXISTS idx_game_sessions_timing ON game_sessions(started_at, ended_at);

-- Step 5: Update existing records to have consistent data
-- Migrate any existing host_user_id to player1_id if player1_id is null
UPDATE game_sessions
SET player1_id = host_user_id
WHERE player1_id IS NULL AND host_user_id IS NOT NULL;

-- Initialize players JSONB for existing records that have individual player IDs
UPDATE game_sessions
SET players = (
    SELECT jsonb_agg(
        jsonb_build_object('playerId', player_id)
    )
    FROM (
        SELECT unnest(ARRAY[player1_id, player2_id, player3_id, player4_id]) AS player_id
    ) AS player_ids
    WHERE player_id IS NOT NULL
)
WHERE (players IS NULL OR players = '[]'::jsonb)
AND (player1_id IS NOT NULL OR player2_id IS NOT NULL OR player3_id IS NOT NULL OR player4_id IS NOT NULL);

-- Step 2: Expand game_mode enum to support matchmaking modes
-- First, check current constraint and drop it
DO $$
BEGIN
    -- Drop existing check constraint if it exists
    IF EXISTS (
        SELECT 1 FROM information_schema.table_constraints
        WHERE constraint_name = 'game_sessions_game_mode_check'
        AND table_name = 'game_sessions'
    ) THEN
        ALTER TABLE game_sessions DROP CONSTRAINT game_sessions_game_mode_check;
    END IF;
END $$;

-- Add new comprehensive game_mode constraint
ALTER TABLE game_sessions ADD CONSTRAINT game_sessions_game_mode_check
CHECK (game_mode IN (
    'campaign', 'online', 'scenarios', 'tutorial',  -- Original modes from migration 007
    'standard', 'ranked', 'casual', 'tournament', 'ai',  -- Modes from schema.sql
    'ranked_1v1', 'casual_1v1', 'team_2v2', 'ffa_4p'  -- Matchmaking modes
));

-- Step 3: Expand status enum to support all states
-- Drop existing status constraint
DO $$
BEGIN
    IF EXISTS (
        SELECT 1 FROM information_schema.table_constraints
        WHERE constraint_name = 'game_sessions_status_check'
        AND table_name = 'game_sessions'
    ) THEN
        ALTER TABLE game_sessions DROP CONSTRAINT game_sessions_status_check;
    END IF;
END $$;

-- Add comprehensive status constraint
ALTER TABLE game_sessions ADD CONSTRAINT game_sessions_status_check
CHECK (status IN (
    'waiting', 'playing', 'finished', 'cancelled',  -- Original from migration 007
    'active', 'completed', 'abandoned', 'error'     -- Additional from schema.sql
));

-- Step 4: Create indexes for performance
-- Index for matchmaking queries
CREATE INDEX IF NOT EXISTS idx_game_sessions_matchmaking
ON game_sessions(game_mode, status, created_at)
WHERE status IN ('waiting', 'active');

-- Index for player lookups
CREATE INDEX IF NOT EXISTS idx_game_sessions_player1 ON game_sessions(player1_id) WHERE player1_id IS NOT NULL;
CREATE INDEX IF NOT EXISTS idx_game_sessions_player2 ON game_sessions(player2_id) WHERE player2_id IS NOT NULL;
CREATE INDEX IF NOT EXISTS idx_game_sessions_player3 ON game_sessions(player3_id) WHERE player3_id IS NOT NULL;
CREATE INDEX IF NOT EXISTS idx_game_sessions_player4 ON game_sessions(player4_id) WHERE player4_id IS NOT NULL;
CREATE INDEX IF NOT EXISTS idx_game_sessions_winner ON game_sessions(winner_id) WHERE winner_id IS NOT NULL;

-- Index for time-based queries
CREATE INDEX IF NOT EXISTS idx_game_sessions_timing ON game_sessions(started_at, ended_at);

-- Step 5: Create function to sync players JSONB with individual columns
CREATE OR REPLACE FUNCTION sync_game_session_players()
RETURNS TRIGGER AS $$
BEGIN
    -- If players JSONB is updated, sync to individual columns
    IF TG_OP = 'INSERT' OR (TG_OP = 'UPDATE' AND OLD.players IS DISTINCT FROM NEW.players) THEN
        -- Extract player IDs from JSONB array
        NEW.player1_id := (NEW.players->0->>'playerId')::UUID;
        NEW.player2_id := (NEW.players->1->>'playerId')::UUID;
        NEW.player3_id := (NEW.players->2->>'playerId')::UUID;
        NEW.player4_id := (NEW.players->3->>'playerId')::UUID;
    END IF;

    -- If individual columns are updated, sync to players JSONB (if JSONB is empty)
    IF TG_OP = 'INSERT' OR (TG_OP = 'UPDATE' AND (
        OLD.player1_id IS DISTINCT FROM NEW.player1_id OR
        OLD.player2_id IS DISTINCT FROM NEW.player2_id OR
        OLD.player3_id IS DISTINCT FROM NEW.player3_id OR
        OLD.player4_id IS DISTINCT FROM NEW.player4_id
    )) THEN
        -- Only sync if players JSONB is empty or null
        IF NEW.players IS NULL OR NEW.players = '[]'::jsonb THEN
            NEW.players := (
                SELECT jsonb_agg(
                    jsonb_build_object('playerId', player_id)
                )
                FROM (
                    SELECT unnest(ARRAY[NEW.player1_id, NEW.player2_id, NEW.player3_id, NEW.player4_id]) AS player_id
                ) AS player_ids
                WHERE player_id IS NOT NULL
            );
        END IF;
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Create trigger for automatic synchronization
DROP TRIGGER IF EXISTS trigger_sync_game_session_players ON game_sessions;
CREATE TRIGGER trigger_sync_game_session_players
    BEFORE INSERT OR UPDATE ON game_sessions
    FOR EACH ROW
    EXECUTE FUNCTION sync_game_session_players();

-- Step 6: Add helpful comments for documentation
COMMENT ON COLUMN game_sessions.players IS 'JSONB array of player objects with ratings and metadata - primary source for matchmaking';
COMMENT ON COLUMN game_sessions.player1_id IS 'First player ID - auto-synced from players JSONB for query performance';
COMMENT ON COLUMN game_sessions.player2_id IS 'Second player ID - auto-synced from players JSONB for query performance';
COMMENT ON COLUMN game_sessions.player3_id IS 'Third player ID - auto-synced from players JSONB for team/FFA games';
COMMENT ON COLUMN game_sessions.player4_id IS 'Fourth player ID - auto-synced from players JSONB for FFA games';
COMMENT ON COLUMN game_sessions.winner_id IS 'ID of the winning player (for 1v1) or team representative';
COMMENT ON COLUMN game_sessions.started_at IS 'When the actual game started (not when session was created)';
COMMENT ON COLUMN game_sessions.ended_at IS 'When the game ended';
COMMENT ON COLUMN game_sessions.duration_seconds IS 'Total game duration in seconds';

-- Step 7: Update existing records to have consistent data
-- Migrate any existing host_user_id to player1_id if player1_id is null
UPDATE game_sessions
SET player1_id = host_user_id
WHERE player1_id IS NULL AND host_user_id IS NOT NULL;

-- Initialize players JSONB for existing records that have individual player IDs
UPDATE game_sessions
SET players = (
    SELECT jsonb_agg(
        jsonb_build_object('playerId', player_id)
    )
    FROM (
        SELECT unnest(ARRAY[player1_id, player2_id, player3_id, player4_id]) AS player_id
    ) AS player_ids
    WHERE player_id IS NOT NULL
)
WHERE (players IS NULL OR players = '[]'::jsonb)
AND (player1_id IS NOT NULL OR player2_id IS NOT NULL OR player3_id IS NOT NULL OR player4_id IS NOT NULL);
