# Google Artifact Registry for @kelseyabreu scope
@kelseyabreu:registry=https://us-east1-npm.pkg.dev/biomasters-tcg/npm-packages/
//us-east1-npm.pkg.dev/biomasters-tcg/npm-packages/:always-auth=true

# Default registry for all other packages
registry=https://registry.npmjs.org/
